
*{
overflow-x:hidden;
margin:0px;
padding:0px;
}
body
{   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../8989.jpg);
	position:absolute;
	width:100%;
	z-index:0;
	height:100%;
	background-size:cover;
	background-position:center;
	
	
}
	
.wrap
{
	
	 position:relative;
	 z-index:1;
padding-top:90px;
max-width:550px;
border-radius:20px;
margin:auto;
background:rgba(0,0,0,0.8);
box-sizing:border-box;
padding:40px;
color:#fff;
margin-top:70px;
font-size:25px;
}
h2
{
text-align:center;
}
input[type=text],input[type=password],input[type=number],input[type=email]

{
width:100%;
box-sizing:border-box;
padding:10px 46px;

background:rgba(0,0,0,0.10);
outline:none;
border:none;
border-bottom:1px dotted #fff;
color:#fff;
border-radius:5px;
margin:5px;
font-weight:bold;
font-size: 20px;
}

select{
	
box-sizing:border-box;
padding:10px 26px;
background:rgba(0,0,0,0.8);
outline:none;
border:none;
border-bottom:1px dotted #fff;
color:#fff;
border-radius:5px;
margin:5px;
font-weight:bold;
font-size: 20px;
}
input[type=submit]
{
width:30%;
box-sizing:border-box;
padding:5px 3px;
background:#60adde;
outline:none;
border:none;
color:#fff;
opacity:0.7;
border-radius:5px;
margin-top:15px;
font-size:30px;
}
