*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../download2.jpg);
	height: 100%;
	width: 100%;
	background-size: cover; 
	background-position: center;
	positon:absolute;
	z-index: 1;	
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;
}
ul li{
	display: inline-block;
	
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	transition: 0.6s ease 
	
}                                      
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.main{
	max-width: 1200px;
	margin:auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:#fff;
	font-size: 70px;	
}
.title h4{
	color:#fff;
	font-size: 30px;
}	